//sm
$sp-xs: 0.3125rem // 5px
$sp-sm: 0.5rem // 8px
$sp-sm-1x: 0.625rem // 10px
$sp-sm-2x: 0.75rem // 12px
$sp-sm-3x: 0.875rem // 14px
$sp-sm-4x: 0.9375rem // 15px
//md
$sp-md: 1rem // 16px
$sp-md-1x: 1.125rem // 18px
$sp-md-2x: 1.25rem // 20px
//lg
$sp-lg: 1.5rem // 24px
$sp-lg-1x: 2.3rem // 36px
$sp-lg-2x: 3rem // 48px
$sp-lg-3x: 3.125rem // 50px
$sp-lg-4x: 5rem // 80px
$sp-lg-5x: 6.25rem // 100px
